html{
    background-color: black;
}

.section {
    background-color: white;
}

.wordfield {
    margin-top:30px;
}

.codebar {
    width:70%;
    margin-left: 2%;
}

.infobox {
    margin-top:10px;
    display: flex;
    flex-direction: row-reverse;
    width:70%;
    margin-left: 2%;
}

.quote {
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .quote {
        width: 40%;
    }

    .infobox {
        margin-top:10px;
        display: flex;
        flex-direction: row-reverse;
        width:92.5%;
        margin-left: 2%;
    }
}